
.modalOverlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transform: scale(0);*/
    display: none;
    z-index: 100;
}

.modalOverlay.active {
    /*transform: scale(1);*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.modal {
    background-color: white;
    height: 600px;
    width: 900px;
    z-index: 102;
}

@media (max-width: 428px) {
    .modalOverlay {
        display: none;
    }

}
