.formTitle {
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
}

.signupForm {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errorText {
  padding: 0px;
  font-size: 16px;
  font-weight: 200;
  color: red;
}
